<!-- <mat-toolbar color="primary">
    <a routerLink=""><h1>Miahoot</h1></a>
    
    <ng-container *ngIf="this.user | async as U; else unlogged">
        <button id="ppButton" [matMenuTriggerFor]="menu"><img id="pp" [src]="U.photoURL"/></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="toAccountConfig()">My Account</button>
            <button mat-menu-item (click)="logout()">Log out</button>
          </mat-menu>
    </ng-container>

    <ng-template #unlogged>
        <button id="ppButton" [matMenuTriggerFor]="menuLogin"><img id="pp" src="https://tse1.mm.bing.net/th?id=OIP.SAmV4SP8qRf60MUdZJtg-AHaHa&pid=Api" alt=""></button>
        <mat-menu #menuLogin="matMenu">
            <button mat-menu-item (click)="loginGoogle()">Google</button>
            <button mat-menu-item (click)="loginWithAdresseMail()">Adresse Mail</button>
        </mat-menu>
    </ng-template>
</mat-toolbar> -->

<ul>
    <li><a><img id="logo" src="../../assets/logo_miahoot.png" routerLink=""/></a></li>
    
    <ng-container *ngIf="this.user | async as U; else unlogged">
            <div *ngIf="!bsIsAnonyme.value">
                <li>
                    <button id="ppButton" [matMenuTriggerFor]="menu"><img id="pp" [src]="U.photoURL"/></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click) = "toMiahootEnCours()"> Miahoot en cours</button>
                        <button mat-menu-item (click)="toMesMiahoots()">Mes Miahoots</button>
                        <button mat-menu-item (click)="toAccountConfig()">My Account</button>
                        <button mat-menu-item (click)="logout()">Log out</button>
                    </mat-menu>
                </li>
            </div>
            <div *ngIf="bsIsAnonyme.value">
                <button id="ppButton" [matMenuTriggerFor]="menu"><img id="pp" [src]="U.photoURL"/></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">Log out</button>
                </mat-menu>
            </div>
    </ng-container>

    <ng-template #unlogged>
        <li>
            <button id="ppButton" [matMenuTriggerFor]="menuLogin"><img id="pp" src="https://clipground.com/images/user-login-icon-png-1.png" alt=""></button>
            <mat-menu #menuLogin="matMenu">
                <button mat-menu-item (click)="loginGoogle()">Se connecter avec Google</button>
                <button mat-menu-item (click)="loginWithAdresseMail()">Se connecter avec adresse mail</button>
            </mat-menu>
        </li>
    </ng-template>
</ul>

<mat-progress-spinner *ngIf="bsIsAuth | async" mode="indeterminate">
   En cours d'authentification...
</mat-progress-spinner>



<router-outlet></router-outlet>

