#pp {
  //faire un css pour coller ça en haut à droite de la page
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  }
  
  .toolbar{
    margin-left: auto;
    margin-right: 5px;
  }
  
  .toolbar button{
    margin-bottom: 50%;
    margin-top: 50%;
    margin-right: 5px;
  }

  
  #ppButton {
    background-color: transparent;
    width: auto;
    height: 1px;
    border-color: transparent;
    right: 10px;
    position: absolute;
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #23828b;
    height: 60px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}