<div *ngIf = "bsResultat | async as QCMs">
  <!-- <div *ngFor="let qcm of QCMs">{{qcm.question}} : nbVote : {{nbVote(qcm)}} pourcentage : {{pourcentageBonneReponse(qcm)}} -->
  <!-- <div *ngFor="let qcm of triMeilleuresReponses(QCMs)">{{qcm.question}}</div> -->

  <div id="graphiqueHlr" class="graph">
    <dl *ngFor="let qcm of triMeilleuresReponses(QCMs)" class="taille" style="--pourcentage: {{pourcentageBonneReponse(qcm)}};"><dt class="">{{qcm.question}}</dt><dd>{{pourcentageBonneReponse(qcm)}}%</dd></dl>
  </div>

</div>

<button class="button" (click)="resetResultats()">Quitter</button>

<!-- <head>
  <title>Resultats</title>
</head>

<body>
  <div *ngIf="bsbestQuestion | async as best">
    <div *ngIf="bsworstQuestion | async as worst">
        <h1>Resultats</h1>
        <table>
        <thead>
            <tr>
            <th>Question</th>
            <th>% de réponses correctes</th>
            </tr>
        </thead>
        <tbody>
            <tr class="best">
            <td>{{best[0].qcm.question}}</td>
            <td>{{percentageBest}}</td>
            </tr>
            <tr class="worst">
            <td>{{worst[0].qcm.question}}</td>
            <td>{{percentageWorst}}</td>
          </tr>
        </tbody>
      </table>
     
    </div>
  </div>
</body> -->

