<head>
  <title>Resultas</title>
</head>

<body>
  <div *ngIf="bsbestQuestion | async as best">
    <div *ngIf="bsworstQuestion | async as worst">
        <h1>Resultats</h1>
        <table>
        <thead>
            <tr>
            <th>Question</th>
            <th>% de réponses correctes</th>
            </tr>
        </thead>
        <tbody>
            <tr class="best">
            <td>{{best[0].qcm.question}}</td>
            <td>{{percentageBest}}</td>
            </tr>
            <tr class="worst">
            <td>{{worst[0].qcm.question}}</td>
            <td>{{percentageWorst}}</td>
          </tr>
        </tbody>
      </table>
      <button (click)="resetResultats()">quitter</button>
    </div>
  </div>
</body>

