<div [formGroup] = "fg" class="form-container">
    <mat-form-field>
      <input matInput type="text" placeholder="Email" [formControl]="fg.controls.email"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" [formControl]="fg.controls.password"/>
      </mat-form-field>
    <button type="submit" mat-raised-button color="primary" (click)="login()">Sign in</button>
    <button mat-raised-button color="primary" (click)= "register()"> Register </button>
</div>
