<section>
    <div *ngIf="obsProjectedQCM | async as QCM ; else NoQCMProjected">
        <div class="boutons">
            <button class="button-62 Aff" (click) = "afficherReponse()">Afficher Bonne Réponse</button>
            <button class="button-62 Suiv" (click) = "getQuestion('quel')">Question suivante</button>
        </div>
        <div *ngIf="obsNbVote | async as nbVote">
            
            <div class="question">
                <h3>{{ QCM.question }}</h3>
                <div class="container">
                    <div class="liste">
                    
                        <div class="reponses" [class.valide]="bsAfficherBonneReponse.value && index === bsBonneReponse.value" *ngFor="let answer of QCM.responses; index as index">
                            <h4>{{ answer }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <div *ngIf="obsNames | async as tabNames">
                <mat-tab *ngFor="let names of tabNames ; index as index" label="Votes pour la réponse numéro {{index + 1}}">
                    <div class="votes">
                        <div class="nbVote">{{proportionVote(names,nbVote)}}%</div>
                        <div class="container" *ngFor="let name of names ">
                            {{ name }}
                        </div>
                    </div>
                </mat-tab>
            </div>
        </mat-tab-group>
    </div>
</div>
    

    
    <ng-template #NoMiahootProjected>
        <h1>No Miahoot projected</h1>
    </ng-template>
    <ng-template #NoQCMProjected>
        <h1>No QCM projected</h1>
    </ng-template>
</section>
