<div class="Accueil">

        <div *ngIf="obsUser | async as U; else noUser" class="create form-container" >
            <p class="title">Vous êtes connecté ! </p>
            <button aria-label="Voir mes Miahoots" class="button-62" (click)="toMesMiahoots()">
                Voir mes Miahoots
            </button>
            <button aria-label="Logout" class="button-62" (click)="logout()">
                Deconnexion
            </button>
        </div>


    <ng-template #noUser>
        <div class="create form-container" >
            <p class="title">Créer un Miahoot</p>
                <button aria-label="Sign up with Google" class="button-62" (click)="loginGoogle()">
                    Se connecter avec Google
                </button>

            <button aria-label="Sign up with Google" class="button-62" (click)="loginWithAdresseMail()">
                créer un compte / connexion avec email
            </button>

            <div class="social-message">
                <div class="line"></div>
                <p class="message">Pas encore de compte ? Sign up maintenant !</p>
                <div class="line"></div>
            </div>
        </div>
    </ng-template>
    
    <div class="join form-container">
        <p class="title">Rejoindre un Miahoot</p>
        <div class="form">
            <div class="input-group">
                <input [(ngModel)]="nom" type="text" name="username" id="username" placeholder="Username">
            </div>

            <div class="input-group">
			    <input [(ngModel)]="miahootId" type="text" name="username" id="username" placeholder="Miahoot ID">
		    </div>
            
        </div>
        <button class="button-63" (click)="enregristrerInfo(miahootId,nom)">JOUER</button>
        <div class="input-error">
            <label class="err">{{outputError}}</label>
        </div> 
        
    </div>
</div>
