textarea {
  width: 30%;
  height: 30%; // team design help please
}

.valide {
  color: green;
}

.notValide {
  color: red;
}

.valideButton {
  background-color: green;
}

.notValideButton {
  background-color: red;
}